<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Article</h1>
    <form action="/add-article/" method="post">
        {% csrf_token %}
        <label for="title">Article Title</label>
        <input type="text" name="title" id="title">
        <label for="date">Publishing Date</label>
        <input type="datetime-local" name="date" id="date">
        <label for="content">Content</label>
        <input type="text" name="content" id="content">
        <button type="submit">Publish</button>
    </form>
</body>
</html>